**/logs/
**/work
**/build
**/*.log
**/modelsim.ini
**/transcript
verilator
vsim/compile.tcl
vsim/result/*
**/*.wlf
**/*.vstf
third_party/*ara*
third_party/New_DRAMsys
third_party/sparse_database/
third_party/test*
!third_party/sparse_database/fit
third_party/*
vsim/data*
vsim/trace.txt
**/data.stream
**.stream
.bender
log.txt
Bender.lock
gf22/*
tmp*
tmp/*
results/*
vsim/DRAMSys*
vsim/wlf*
.vscode/
**/__pycache__/
